.card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  text-align: left;
  &-item {
    background-color: $color-01;
    box-shadow: 0 0 6px #000;
    width: 320px;
  }
  &-text {
    font-family: 'Noto Serif JP';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 24px;
    padding: 25px 20px;
  }
  @include mq ('tab') {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px;
    &-item {
      margin-bottom: 20px;
    }
  }
  @include mq ('sp') {
    align-items: center;
    flex-direction: column;
    &-item {
      margin-bottom: 30px;
    }
    &-item:last-of-type {
      margin-bottom: 0;
    }
  }
}